<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-watch-connectivity" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-watch-connectivity</name>
    <js-module name="cordova-plugin-watch-connectivity" src="www/cordova-plugin-watch-connectivity.js">
        <clobbers target="cordova.plugins.cordova-plugin-watch-connectivity" />
    </js-module>
</plugin>
